body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    background-color: #4caf50;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
}

.buttons {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.filters {
    margin: 20px 0;
}

.filters input {
    margin: 5px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 200px;
}

.character img {
    width: 100%;
    border-radius: 10px;
}
