h1 {
    color: red ; /* This is an important comment */
    text-align: center;

} 
header,nav,ul,li {
    color :black;
    display: inline;
    margin: 0;
    padding: 0;
}

#lista{
    position: fixed;
    margin-right: 10px;
    background-color: #f1f1f1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
}
section:hover{
    background-color: #f1f1f1;
    color: blue;

}/*cambia el color de fondo de la seccion cuando se pasa el mouse por encima*/

li{
    list-style-type: none;/*se quita el punto de la lista*/
}
a{
    text-decoration: none;
    color: black;

}

*{
    color:white;
}
section {
    background-color: #f1f1f1;
    
}

.New-section{
    background-color: blue;
    
}
#sports {
    background-color: #f10b0b;
    
}
*{
    font-family: 'Courier New', Courier, monospace,sans-serif;
}
#main{
    background-color: red;
}
.child{
    position: relative;
    background-color: blue;
    border:solid 2px black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width : 300px;
    box-sizing: border-box;/* seria el tama;o de div en vez de content. para que el padding y el border no afecten el tamaño del div*/
}
.child1{
    position: absolute;
}